
  nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover {
    color: rgb(131, 131, 234);
  }
    /* header, footer {
        background-color: #7dabec;
        padding: 20px;
        text-align: center;
    }
    main {
        padding: 20px;
    }

    form {
        max-width: 200px;
        margin: 20px;
    }

    form label {
        display: block;
        margin-bottom: 10px;
    }
    form input, form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form button:hover {
        background-color: #555;
    }

      */